@font-face {
  font-family: "iconfont"; /* Project id 3501968 */
  src: url('iconfont.woff2?t=1658975210773') format('woff2'),
       url('iconfont.woff?t=1658975210773') format('woff'),
       url('iconfont.ttf?t=1658975210773') format('truetype'),
       url('iconfont.svg?t=1658975210773#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-wechat:before {
  content: "\e619";
}

.icon-aixin1:before {
  content: "\e622";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-shuaxin:before {
  content: "\e641";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-position:before {
  content: "\e60c";
}

.icon-zuojiantou:before {
  content: "\e6a5";
}

.icon-a-activity-time-icon:before {
  content: "\e61e";
}

.icon-activity-add-icon:before {
  content: "\e61f";
}

.icon-xiazai:before {
  content: "\e635";
}

.icon-caidan:before {
  content: "\e636";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-aixin:before {
  content: "\e60f";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-shijian:before {
  content: "\e601";
}

.icon-sanjiaoright:before {
  content: "\e6b7";
}

.icon-xiajiantou:before {
  content: "\e600";
}

