@import "~iview/src/styles/index.less";

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

.search-con {
  padding: 0 0 10px 0;
  .search {
    &-col {
      display: inline-block;
      width: 200px;
    }

    &-input {
      display: inline-block;
      width: 200px;
      margin-left: 2px;
    }

    &-btn {
      margin-left: 2px;
    }
  }
}

.vue-treeselect--disabled .vue-treeselect__control .vue-treeselect__single-value {
  color: #999;
}
.ivu-input[disabled],
fieldset[disabled] .ivu-input {
  color: #999;
}

.ivu-select-disabled .ivu-select-selection {
  color: #999;
}

.ivu-input-number-input[disabled] {
  color: #999;
}

.ivu-page {
  margin-top: 20px;
}

code,
kbd,
pre,
samp {
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f6f6f6;
  border: none;
  white-space: pre-wrap;
  vertical-align: middle;
  color: #c7254e;
}

.text-disabled {
  text-decoration: line-through;
}

.drawer-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}

/*
 * 全局滚动条的样式
 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* 滚动条里面轨道以及垂直和横向相间部分的样式 */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #eee;
}

/* 滚动条内部长条的样式 */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.15);
}

/* 滚动条内部长条hover样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* 滚动条内部长条的点击样式 */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.35);
}

.ivu-form {
  padding: 0 20px;
}

.ivu-message {
  z-index: 10000 !important;
}

