/*Vue隐藏*/
[v-cloak] {
  display: none;
}
@font-face {
  font-family: 'DINA';
  src: url('./../assets/fonts/DINAlternateBold.ttf');
}
@font-face {
  font-family: 'Alibaba';
  src: url('./../assets/fonts/AlibabaPuHuiTi-2-55-Regular.ttf');
}
/*清除样式*/

body,
ol,
ul,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  position: relative;
  margin: 0 auto;
  overflow: initial;

  // font-size: 62.5%;
}

// body {
//     position: relative;
//     // font-size: 14px;
//     font-family: Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
//         'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
//     background: #fff;
//     -webkit-text-size-adjust: 100%;
//     -webkit-tap-highlight-color: transparent;
//     position: relative;
//     margin: 0 auto;
//     // font-size: 62.5%;
// }

body {
  position: relative;
  // font-size: 14px;
  font-family: 'Alibaba',Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  background: #fff;
  color: #282828;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.base {
  margin: 0 auto;
  max-width: 1140px;
  position : relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-out;
  font-weight: normal;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

ol,
ul,
dl,
li,
dt,
dd {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

.boxShadow {
  box-shadow: 0 0 0.18rem 0 rgba(0, 0, 0, 0.1);
}

a img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  font-family: 'Alibaba',Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: none;
  padding: 0px;
  margin: 0;
}

/*透明度渐变*/
.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.me-warn-text {
  color: #faad14;
  line-height: 14px;
}

/*清除浮动*/
.clearfloat {
  zoom: 1;
}

.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.me-clear{
  clear: both;
}

/*居中*/
.center {
  margin: 0 auto;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  background-color: transparent;
}

.requiredItem {
  .v-form-item__icon--is-required::before {
    content: '*';
    display: inline-block;
    margin: 0 6px;
    width: 8px;
    color: #f44336;
  }
}

.hand {
  cursor: pointer;
}

.me-card {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.me-pa-0 {
  padding: 0 !important;
}

.me-ma-0 {
  margin: 0 !important;
}

.me-ma-1 {
  margin: 5px;
}

.me-ml-1 {
  margin-left: 5px !important;
}

.me-mt-0 {
  margin-top: 0px;
}

.me-mt-1 {
  margin-top: 5px !important;
}

.me-mb-0 {
  margin-bottom: 0 !important;
}

.me-mb-1 {
  margin-bottom: 5px !important;
}

.me-mr-1 {
  margin-right: 5px !important;
}

.me-pa-1 {
  padding: 5px;
}

.me-pl-1 {
  padding-left: 5px;
}

.me-pr-1 {
  padding-right: 5px;
}

.me-pt-0 {
  padding-top: 0px;
}

.me-pt-1 {
  padding-top: 5px;
}

.me-pb-1 {
  padding-bottom: 5px;
}

.me-ma-2 {
  margin: 10px;
}

.me-ml-2 {
  margin-left: 10px !important;
}

.me-mt-2 {
  margin-top: 10px !important;
}

.me-mb-2 {
  margin-bottom: 10px !important;
}

.me-mr-2 {
  margin-right: 10px !important;
}

.me-pa-2 {
  padding: 10px;
}

.me-pl-2 {
  padding-left: 10px;
}

.me-pr-2 {
  padding-right: 10px;
}

.me-pt-2 {
  padding-top: 10px;
}

.me-pb-2 {
  padding-bottom: 10px;
}

.me-ml-3 {
  margin-left: 15px !important;
}

.me-mt-3 {
  margin-top: 15px !important;
}

.me-mb-3 {
  margin-bottom: 15px !important;
}

.me-mr-3 {
  margin-right: 15px !important;
}

.me-pa-3 {
  padding: 15px;
}

.me-ml-4 {
  margin-left: 20px !important;
}

.me-mt-4 {
  margin-top: 20px !important;
}

.me-mb-4 {
  margin-bottom: 20px !important;
}

.me-mr-4 {
  margin-right: 20px !important;
}

.me-pl-4 {
  padding-left: 20px !important;
}

.me-pt-4 {
  padding-top: 20px !important;
}

.me-pb-4 {
  padding-bottom: 20px !important;
}

.me-pr-4 {
  padding-right: 20px !important;
}

.me-pa-4 {
  padding: 20px;
}

.me-ml-5 {
  margin-left: 25px !important;
}

.me-mt-5 {
  margin-top: 25px !important;
}

.me-mb-5 {
  margin-bottom: 25px !important;
}

.me-mr-5 {
  margin-right: 25px !important;
}

.me-pl-5 {
  padding-left: 25px !important;
}

.me-pt-5 {
  padding-top: 25px !important;
}

.me-pb-5 {
  padding-bottom: 25px !important;
}

.me-pr-5 {
  padding-right: 25px !important;
}

.me-pa-5 {
  padding: 25px;
}

.me-pl15 {
  padding-left: 15px !important;
}

.me-link {
  color: $linkColor !important;
  cursor: pointer;

  &.me-error {
    color: $errorColor !important;
  }
}

.me-text-center {
  text-align: center;
}

.me-text-left {
  text-align: left;
}

.me-text-right {
  text-align: right;

  .me-p8 {
    padding: 8px;
  }

  .me-fr {
    float: right;
  }

  .me-page-search {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 8px;
  }

  .me-page-content {
    background-color: #fff;
  }
}

.me-fl {
  float: left;
}

.me-fr {
  float: right;
}

.me-handler-danger {
  color: $errorColor;
}

.me-handler-red {
  color: $errorColor;
}

.me-b {
  display: block;
}

.me-ib {
  display: inline-block;
}

.me-cp {
  cursor: pointer;
}

.me-w300 {
  width: 300px;
}

.me-w60 {
  width: 60px;
}

.me-w120 {
  width: 120px;
}

.me-w160 {
  width: 160px;
}

.me-w200 {
  width: 200px !important;
}

.me-w100 {
  width: 100px !important;
}

.me-fs12 {
  font-size: 12px;
}

.custom-affix {
  .ant-affix {
    z-index: 9 !important;
    background: #fff;
  }
}

#components-back-top-demo-custom .ant-back-top {
  bottom: 90px;
}

.ant-table-row {
  .ant-btn-link {
    padding-left: 0;
  }
}

.ant-table-header-column {
  width: 100%;
}

.ant-btn-link {
  color: $linkColor !important;

  &.me-error {
    color: $errorColor !important;
  }
}

.ant-input {
  &[readonly='true'] {
    &:not(.ant-calendar-picker-input) {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
}

.ant-calendar-picker {
  .ant-input {
    background: #fff;
    // background-color: transparent;
  }
}

.me-text-oh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.me-tc {
  text-align: center;
}

.me-sub-title {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.me-bold {
  font-weight: bold;
}

.me-tc {
  text-align: center;
}

.me-tl {
  text-align: left;
}

// “没有数据”没有滚动条，只是表格滚动
.ant-table-body {
  overflow: auto;
}

.ant-table-placeholder {
  border-bottom: none !important;
}

.me-inline-form {
  .ant-form-item {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.me-select-text {
  margin-left: 10px;

  .me-f-red {
    color: $errorColor;
  }
}

// 全站色彩管理，UI配套色在vue.config.js css处修改
.me-status-primary {
  color: $primaryColor !important; // 主题色
}

.me-status-success {
  color: $successColor !important; // 成功色
}

.me-status-skip {
  color: $skipColor !important; // 置灰色
}

.me-status-error {
  color: $errorColor !important; // 标红色
}

.me-status-link {
  color: $linkColor !important; // 链接色
}

.me-status-warning {
  color: $warningColor !important; // 主题色与标红色之间的副色
}

.me-link-h {
  //链接默认黑色，移入变蓝色
  color: $textColor !important;
  cursor: pointer;

  &:hover {
    color: $linkColor !important;
  }
}

/* 强制不换行 */
.nowrap {
  white-space: nowrap;
}

/* 允许单词内断句，首先会尝试挪到下一行，看看下一行的宽度够不够，
不够的话就进行单词内的断句 */
.breakword {
  word-wrap: break-word;
}

/* 断句时，不会把长单词挪到下一行，而是直接进行单词内的断句 */
.breakAll {
  word-break: break-all;
}

/* 超出部分显示省略号 */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.send-code-btn {
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 130px;
    display: inline-block;
  }
}

.me-tabs-bar-h50 .ant-tabs-tab {
  height: 50px !important;
  line-height: 50px !important;
}

.me-tabs-bar-h50 .ant-tabs-nav-container {
  height: 50px !important;
}

.me-transform-background {
  background: #ffffff;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 0,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 0
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 0,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 0
    );
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.me-steps-tooltip {
  .ant-tooltip-arrow::before {
    background-color: #f7622f;
  }

  .ant-tooltip-inner {
    background-color: #f7622f;
  }
}

// 设置input-number 上下角标不显示
.me-handler-wrap-hide .ant-input-number-handler-wrap {
  display: none;
}

// 设置input后缀颜色
.me-input-after .ant-input-group-addon {
  color: #f7622f;
}

// 多语言时label文案太长，不换行
.me-common-form .ant-form-item-label {
  white-space: unset;
  padding-right: 8px;
}

//公共page
.me-page-header {
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  min-height: 54px;
  border-radius: 2px 2px 0 0;
  padding: 10px 20px;

  .ant-page-header-heading-title {
    font-weight: 500;
    font-size: 18px;
  }
}

.me-page-layout {
  background-color: #fff;
  min-height: 100px;
  border-radius: 0 0 2px 2px;
  padding: 16px;
}

.me-page-search {
  padding: 16px 20px;
  background-color: #f8f9fa;
  border-radius: 1px;
  min-height: 80px;
  margin-bottom: 18px;
}

/**
 * Tabs 标签页样式重写
 */

.ant-tabs-nav-wrap {
  .ant-tabs-nav-scroll {
    .ant-tabs-nav {
      .ant-tabs-tab {
        // margin-right: -1px;
        border-radius: 0;
      }
    }
  }
}

/**
 * btn 按钮样式重写
 */
.ant-btn {
  border-radius: 2px;
}

/**
 * table 表格表头样式重写
 */
.ant-table-thead > tr > th {
  font-weight: 700;
  color: #909099;
  font-size: 12px;
  padding: 11px 16px;
}

.ant-table-thead > tr > td {
  padding: 11px 16px;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #f8f9fa;
}

// ant 分页样式调整
.ant-pagination-item-active {
  a {
    color: #ff6b38 !important;
  }
}

.ant-pagination-item {
  a {
    color: #00000095 !important;
  }
}

.ant-pagination-next {
  a {
    color: #00000095 !important;
  }
}

// input select focus重写
.ant-input:focus {
  box-shadow: none;
}

.ant-cascader-picker:focus .ant-cascader-input {
  box-shadow: none;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  box-shadow: none;
}

.ant-input:hover {
  border-color: #d9d9d9;
}

.ant-input:focus {
  border-color: #ff8e61;
}

.ant-select-selection:hover {
  border-color: #d9d9d9;
}

.ant-select-selection:focus {
  border-color: #ff8e61;
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #d9d9d9;
}

.ant-form-inline .ant-form-item {
  margin-right: 30px;
  margin-bottom: 5px;
}

.ant-empty-normal {
  margin: 60px 0;
}

// .ant-table-placeholder{
//     height: calc(100vh - 340px);
//     position: relative;
// }
// .ant-empty-normal{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-top: -40px;
// }

.ant-divider,
.ant-divider-vertical {
  margin: 0 6px 0 2px;
}

.ant-tabs-nav-wrap .ant-tabs-nav-scroll .ant-tabs-nav .ant-tabs-tab {
  font-size: 16px;
}

.ant-table-fixed-right {
  box-shadow: 0px 0 6px -1px rgb(0 0 0 / 15%);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding-left: 8px;
  padding-right: 8px;
}

.theme--light.v-pagination .v-pagination__item--active {
  color: #666 !important;
}

.me-introjs-tooltip {
  .introjs-tooltip-header {
    display: none;
  }

  .introjs-tooltiptext {
    text-align: left;
  }

  .introjs-tooltipbuttons {
    .introjs-button {
      color: #fff;
      background-color: #f7622f;
      border-color: #f7622f;
      text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
      box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
      height: 32px;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      line-height: 32px;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;

      &.introjs-disabled {
        color: #909099;
        background-color: transparent;
        border: 0;
        text-shadow: none;
        box-shadow: none;
      }

      &.introjs-prevbutton {
        background-color: transparent;
        border: 0;
        color: #909099;
        box-shadow: none;
      }
    }
  }
}

.me-introjs-highlight {
  box-shadow: #f7622f 0px 0px 1px 1px, rgb(33 33 33 / 50%) 0px 0px 0px 5000px !important;
}

//覆盖气泡样式
.ant-tooltip-inner {
  color: #303133;
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #f0f0f0;
}

.ant-tooltip-arrow::before {
  background-color: #fff;
}

// 价格input后缀
.me-suffix-price-input {
  &.suffix-pr40 {
    input.ant-input {
      padding-right: 40px !important;
    }
  }

  .ant-input-suffix {
    right: 7px !important;
  }

  &.me-w120 {
    width: 120px !important;
  }

  &.me-w80 {
    width: 80px !important;
  }

  &.error {
    > input {
      border-color: #ff4a4a;
    }
  }
}

.ant-popover-inner,
.ant-calendar-picker-container,
.ant-cascader-menus,
.ant-select-dropdown {
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}


//数据统计模块表格
.me-stat-table{
  
  // .ant-table-tbody > tr > td {
  //   padding-top: 29px;
  //   padding-bottom: 29px;
  // }
  .ant-table-thead > tr > th{
    padding: 15px 8px 14px;
    background: #F6F6F6;
    border: none;
  }
}
